# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
LANGSMITH_API_KEY=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